// COLORS
$color-black: #272727;
$color-white: #FFFFFF;
$color-grey: #2d4e5e;
$color-link: #a00;
$color-code: #00FF00;

$sidebar-width: 280px;
$sidebar-link: #2d4e5e;

$header-height: 50px;
$header-left: $sidebar-width + 25px;
$header-link: #a00;
// $header-link: #2d4e5e;

// BREAKPOINTS
$br: 600px;
