<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {% if page.title %}
        <title>{{ page.title }}</title>
    {% else %}
        <title>{{ site.name }}</title>
    {% endif %}

    <meta name="description" content="{{ site.description }}">

    <!-- open sans font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!-- <link rel="icon" href="/assets/img/favicon.png"> -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>

<body>

    <div class="wrapper">
        <div class="sidebar">
            <h1><a href="/">{{ site.name }}</a></h1>
            <p class="bio"> Etna, NH </p>
            <code>
                <a href="pub@tengr.net">email</a> | 
                <!-- <a href="mls.tengr.net">mls.tengr.net</a> | -->
                <a href="https://github.com/mlshapiro">github</a> |
                <a href="https://gitlab.com/mlshapiro">gitlab</a>
            </code>

        </div>

        <div class="header">
            <!-- <a href="pub@tengr.net">about</a> // -->
            <!-- <a href="mls.tengr.net">mls.tengr.net</a> | -->
            <a href="/">professional</a> //
            <a href="personal">personal</a> //
            <a href="assets/cv">cv</a>
        </div>

        {{ content }}
    </div>

</body>

</html>
